body {
    background-color: #0c0a24; /* 深い紺色 */
    color: #f0f0f0;
    font-family: 'Poppins', 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
}

/* グラスモーフィズム効果を持つカード */
.glass-card {
    background: rgba(43, 40, 80, 0.4); /* 半透明の紫がかった背景 */
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari対応 */
    box-shadow: 0 8px 32px 0 rgba(16, 14, 48, 0.37);
}

/* 青いネオンテキスト */
.neon-text-blue {
    color: #9bf8ff;
    text-shadow:
        0 0 5px #00e1ff,
        0 0 10px #00e1ff,
        0 0 15px #00e1ff;
}

/* 紫のネオンテキスト */
.neon-text-purple {
    color: #e5bfff;
    text-shadow:
        0 0 5px #c36cff,
        0 0 10px #c36cff,
        0 0 15px #c36cff;
}

/* ネオン効果のあるボーダー */
.neon-border {
    border: 1px solid #c36cff;
    box-shadow: 0 0 10px #c36cff;
}

/* オーバーレイのアニメーション */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#suggestion-overlay .glass-card {
    background: rgba(12, 10, 36, 0.7); /* 少し濃いめの背景 */
}

.glass-card-inside {
    background: rgba(0, 0, 0, 0.95); /* より透明に近い黒 */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.pokemon-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    text-align: center;
    border-bottom-left-radius: .375rem; /* Match image radius */
    border-bottom-right-radius: .375rem; /* Match image radius */
}

.pokemon-selected {
    border: 3px solid #9bf8ff; /* neon-text-blue color */
    box-shadow: 0 0 15px #00e1ff;
    border-radius: .375rem; /* to match the rounded class */
}

.starter-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    color: #ffc107;
    font-size: 1.2rem;
    text-shadow: 0 0 5px black;
    pointer-events: none; /* アイコン自体がクリックイベントを妨げないようにする */
}

/* HP Bar Styles */
.hp-bar-container {
    position: absolute;
    bottom: 30px; /* Adjust this value as needed */
    left: 5%;
    width: 90%;
    z-index: 2;
    cursor: pointer;
}

.hp-text {
    width: 100%;
    z-index: 3;
    color: white;
    font-size: 0.7rem;
    text-shadow: 1px 1px 2px black;
    pointer-events: none;
    text-align: center;
    line-height: 20px; /* HPバーの高さと合わせる */
}

.grayscale {
    filter: grayscale(100%);
}

.pokemon-settings-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    color: white;
    font-size: 1rem;
    text-shadow: 0 0 3px black;
    cursor: pointer; /* Make it clickable */
}