{% extends "base.html" %}

{% block title %}ポケモン対戦補助AIツール{% endblock %}

{% block content %}
<main class="d-flex flex-column vh-100">
    <div class="row gx-2 h-100">
        <!-- 左カラム -->
        <div class="col-lg-6 d-flex flex-column h-100">
          <!-- 上：ゲームプレビュー -->
          <div class="d-flex flex-grow-8 mb-3 overflow-hidden">
            {% include 'components/sections/game_preview.html' %}
          </div>
          <!-- 下：リアルタイムログ -->
          <div class="d-flex flex-grow-2" style="flex-grow: 3;">
            {% include 'components/sections/realtime_log.html' %}
          </div>
        </div>
    
        <!-- 右カラム -->
        <div class="col-lg-6 d-flex flex-column h-100">
            <!-- Top-Right -->
            <div class="d-flex mb-3" style="flex-grow: 7.5;">
                {% include 'components/sections/ai_advice.html' %}
            </div>
            <!-- Middle-Right -->
            <div class="d-flex">
                {% include 'components/sections/battle_environment_input.html' %}
            </div>
            <!-- Bottom-Right -->
            <div class="d-flex">
                {% include 'components/sections/party_input.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block modals %}
    {% include 'components/modals/roi_editor_modal.html' %}
    {% include 'components/modals/dashboard_modal.html' %}
    {% include 'components/modals/party_generator_modal.html' %}
    {% include 'components/modals/video_manager_modal.html' %}
    {% include 'components/modals/video_load_modal.html' %}
    {% include 'components/modals/trained_pokemon_modal.html' %}
    {% include 'components/modals/trained_pokemon_edit_modal.html' %}
    {% include 'components/modals/party_management.html' %}
    {% include 'components/modals/calculator.html' %}
    {% include 'components/modals/simulator.html' %}
    {% include 'components/modals/pokemon_details_modal.html' %}
    {% include 'components/modals/result_modal.html' %}
{% endblock %}
