<!-- Battle Field & Side Conditions Input -->
<div id="top-left-panel" class="overlay-panel glass-card p-3 mb-3" style="width: 20vw;">
    <!-- BattleField Settings -->
    <div class="mb-3">
        <label for="battle-weather" class="form-label">天候</label>
        <select class="form-select" id="battle-weather">
            <option value="none" selected>なし</option>
            <option value="sunny">晴れ</option>
            <option value="rain">雨</option>
            <option value="snow">雪</option>
            <option value="sandstorm">砂嵐</option>
        </select>
    </div>
    
    <div class="mb-3">
        <label for="battle-terrain" class="form-label">フィールド</label>
        <select class="form-select" id="battle-terrain">
            <option value="none" selected>なし</option>
            <option value="electric">エレキフィールド</option>
            <option value="grassy">グラスフィールド</option>
            <option value="misty">ミストフィールド</option>
            <option value="psychic">サイコフィールド</option>
        </select>
    </div>
    
    <div class="mb-3">
        <label for="battle-turn" class="form-label">ターン数</label>
        <input type="number" class="form-control" id="battle-turn" value="0" min="0">
    </div>
    
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="battle-is-double">
            <label class="form-check-label" for="battle-is-double">ダブルバトル</label>
        </div>
    </div>
</div>