<!-- 選出予測 -->
<div class="glass-card p-3 d-flex flex-column flex-grow-1">

    <!-- パーティ入力フォーム -->
    <div class="row">
        <!-- 自パーティ入力 -->
        <div class="col-6">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="mb-0"><i class="bi bi-person-fill"></i> 自パーティ</h6>
                    <div class="input-group input-group-sm w-auto">
                        <select class="form-select form-select-sm" id="my-party-select">
                            <option selected value="">登録済みパーティから選ぶ...</option>
                        </select>
                        <button class="btn btn-sm btn-outline-secondary" type="button"
                            id="load-my-party-btn">読み込み</button>
                    </div>
            </div>
            <div class="row gx-1" id="my-party-display">
                {% for i in range(1, 7) %}
                {% set party_type = 'my' %}
                {% set slot_index = i %}
                {% include 'components/widgets/pokemon_slot.html' %}
                {% endfor %}
            </div>
        </div>
        <!-- 相手パーティ入力 -->
        <div class="col-6">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="mb-0"><i class="bi bi-person-bounding-box"></i> 相手パーティ</h6>
                    <div>
                        <button id="recognize-opponent-party-btn"
                            class="btn btn-sm btn-info neon-border me-2" disabled>
                            <i class="bi bi-camera-video"></i> パーティ取得
                        </button>
                        <button id="predict-button" class="btn btn-sm btn-primary neon-border me-2">
                            <span class="spinner-border spinner-border-sm d-none" role="status"
                                aria-hidden="true"></span>
                            予測を開始
                        </button>
                        <button id="save-party-button" class="btn btn-sm btn-success neon-border">
                            <i class="bi bi-save"></i> パーティ保存
                        </button>
                    </div>
            </div>
            <div class="row gx-1" id="opponent-party-display">
                {% for i in range(1, 7) %}
                {% set party_type = 'opponent' %}
                {% set slot_index = i %}
                {% include 'components/widgets/pokemon_slot.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>